.main-blue-bg {
    background-color: rgba(20, 70, 160, 1)
}
.main-blue-bg:hover {
    background-color: rgba(20, 70, 160, 1)
}

.main-blue-bg-lighter {
    background-color: rgba(34, 103, 227, 1)
}
.main-blue-bg-lighter:hover {
    background-color: rgba(34, 103, 227, 1)
}

.main-blue:hover {
    color: rgba(20, 70, 160, 1)
}
.main-blue {
    color: rgba(20, 70, 160, 1)
}

.main-blue-lighter {
    color: rgba(34, 103, 227, 1)
}
.main-blue-lighter:hover {
    color: rgba(34, 103, 227, 1)
}


.pistachio {
    color: rgba(142, 208, 129, 1)
}
.pistachio:hover{
    color: rgba(142, 208, 129, 1)
}
.pistachio:focus {
     color: rgba(142, 208, 129, 1)
 }

.pistachio-bg:hover {
    background-color: rgba(142, 208, 129, 1)
}
.pistachio-bg {
    background-color: rgba(142, 208, 129, 1)
}
.pistachio-bg:focus {
    background-color: rgba(142, 208, 129, 1)
}

 nav a:hover{
     color: rgba(142, 208, 129, 1);
 }

 .invalid-feedback{
     color: #ff0c0c;
 }
